
footer {
    padding: 30px;
    background-color: black;
    clear: both;
    bottom: 0;
    position: fixed;
    width: 100%;
}

nav{ 

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color:#004a8d;
    
}
nav a {
    color: white;
}

#foto
{ 
    height: 600px;
}
