footer {
    padding: 30px;
    background-color: black;
    clear: both;
    bottom: 0;
    position: fixed;
    width: 100%;
}

nav {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #004a8d;

}

nav a {
    color: white;
}

h2{ font-family: Verdana, Geneva, Tahoma, sans-serif; color: #004a8d; text-align: center;


}

p{ font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;

}

ul{ font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: large;


}
.mundo{ 
    margin: 0 60px 0 60px;
}