footer {
    padding: 40px;
    background-color: #1e1b18;
    clear: both;
    bottom: 0;
    position: fixed;
    width: 100%;
}

body {

    background-image: url("assets/img/fundo.jpg");
}

nav {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #004a8d;

}

nav a {
    color: white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #004a8d;
    text-align: center;
}


h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #004a8d;
    text-align: center;
}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}